.footer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  width: 975px;
  height: 50px;
}

.info,
.info div {
  display: flex;
  align-items: center;
}

.info dt {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -999;
}

.info div:first-child::after {
  content: "|";
  margin: 0 4px;
  color: #dfdfdf;
}

.info dd {
  color: #1d1d1d;
}

.info dd a:hover{
  opacity: 0.6;
}

@media screen and (max-width: 1180px) {
  .footer {
    width: 100%;
  }
}