.layout {
  display: flex;
  padding: 70px 0 0;
  width: 975px;
  min-height: calc(100vh - 40px);
  margin:0 auto;
}

.main {
  width: 100%;
}

.main ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  list-style: none
}


@media screen and (max-width: 1180px) {
  .layout {
    width: 100%;
    min-height: auto;
  }
}