.layout {
  display: flex;
  padding: 70px 0 0;
  max-width: 975px;
  margin:0 auto;
}

.main {
  padding-right: 220px;
}

.main ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  list-style: none
}

