.badge {
  padding: 4px 6px;
  margin: 0 2px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

.badge.normal{
  background-color: #BCBCAC3d;
  
}

.badge.fighting{
  background-color: #BC54423d;
}

.badge.flying{
  background-color: #669AFF3d; 
}

.badge.poison{
  background-color: #AB549A3d;
}

.badge.ground{
  background-color: #DEBC543d;
}

.badge.rock{
  background-color: #BCAC663d;
}

.badge.bug{
  background-color: #ABBC1C3d;
}

.badge.ghost{
  background-color: #6666BC3d;
}

.badge.steel{
  background-color: #ABACBC3d;
}

.badge.fire{
  background-color: #FF421C3d;
}

.badge.water{
  background-color: #2F9AFF3d;
}

.badge.grass{
  background-color: #78CD543d;
}

.badge.electric{
  background-color: #FFCD303d;
}

.badge.psychic{
  background-color: #FF549A3d;
}

.badge.ice{
  background-color: #78DEFF3d;
}

.badge.dragon{
  background-color: #7866EF3d;
}

.badge.dark{
  background-color: #7854423d;
}

.badge.fairy{
  background-color: #FFACFF3d;
}

.badge.shadow{
  background-color: #0E2E4C3d;
}

