.wrapper {
  position: relative;
  flex: 0.5;
  min-width: 30%;
  margin: 10px;
  margin-top: 60px;
  border: 2px solid #fff;
  border-radius: 20px;
  transition-duration: 100ms;
  box-shadow: #EDEDED 0 10px 10px;
  padding: 15px;
  background-color: #fff;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.card div {
  text-align: center;
}

.card dt {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -999;
}

.img img {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 100ms;
  image-rendering: pixelated;
  z-index: 1;
}

.serialNumber {
  font-size: 14px;
  color: #8F9396;
}

.name {
  font-weight: 500;
  margin: 8px 0;
  font-size: 18px;
}

.card:hover img {
  transform: translateX(-50%) scale(1.1);
}

.wrapper:hover {
  border: 2px solid #dfdfdf;
}