.aside {
  position: fixed;
  top: 180px;
  right: calc(10vw - 20px);
  margin: 10px;
  width: 320px;
  height: 78vh;
  padding: 15px;
  padding-top: 100px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: #EDEDED 0 10px 10px;
  text-align: center;
}

.aside img {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
}

.typeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.detailImage {
  position: absolute;
    object-fit: contain;
    image-rendering: pixelated;
    width: 320px;
    height: 16vh;
}