* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
    background: #F6F8FC;
    font-family: 'Outfit', sans-serif;
    background-image: url("../assets/pokeball-icon.png");
    background-repeat: no-repeat;
    background-position-x: -180px;
    background-position-y: -80px;
    width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
